<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div style="background-color: #111319" class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./components/sidebar') %>
      <!-- partial -->
      <div style="background-color: #111319" class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./components/topnav') %>
        <!-- partial -->
        <div style="background-color: #111319" class="main-panel">
          <div style="background-color: #111319" class="content-wrapper">

           <h2>Dashboard</h2>
           <p class="text-gray">View your resources & other things here.</p>

            <%- include('./components/alert') %>
            <% if (req.query.err == "ALREADY_OPEN") { %>
                <div class="alert">
                	You can't open multiple tabs!
            	</div>
            <% } else if (req.query.err === "CANNOTAFFORDRENEWAL") { %>
              <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
                You need at least <%= settings.renewals.cost %> coins to purchase a server renewal!
            </div>
            <% } if (req.query.success === 'RENEWED') { %>
              <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
                Succesfully purchased renewal for server!
            </div>
            <% } if (req.session.newaccount || req.session.password) { %>
            <div style="background-color: #007fcc; border-radius: 15px" class="alert">
                <% if (req.session.newaccount) { %>
                    Welcome! You are a first time user<br>
                <% } %>
                <% if (req.session.password) { %>
                    Your password has been changed to <%= req.session.password %>, however if you do not save that then you can just reset it via the "Account Settings" page
                <% } else { %>
                    Please head over to Settings to create a password.
                <% } %>
            </div>
        <% } %>
        <%- include('./components/status') %>
            <div class="row ">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <%- include('./boxes/1') %>
                    </div>
                  </div>
                </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <%- include('./boxes/2') %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         
          <!-- content-wrapper ends -->
          <%- include('./components/footer') %>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('./components/scripts') %>
  </body>
</html>