<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <body>
    <div style="background-color: #111319" class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./components/sidebar') %>
      <!-- partial -->
      <div style="background-color: #111319" class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./components/topnav') %>
        <!-- partial -->
        <div style="background-color: #111319" class="main-panel">
          <div style="background-color: #111319" class="content-wrapper">

            <%- include('./components/alert') %>
           <h2>Your Servers</h2>
           <p class="text-gray">You can edit, delete, create & update servers here.</p>
            <% if (req.query.err) { %>
              <% if (req.query.err !== "none") { %>
                <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
                <% if (req.query.err == "CREATEDSERVER") { %>
                  Success! Your server has been created
                <% } %>
                <% if (req.query.err == "DELETEDSERVER") { %>
                  Success! Your server has been deleted, feel free to create a new one now
                <% } %>
                <% if (req.query.err == "MODIFYSERVER") { %>
                  Success! Your server resources have been changed
                <% } %>
                </div>
              <% } %>
            <% } %>
            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Actions</h4>
                      <a class="btn btn-success btn-lg" style="border-radius: 15px;" href="../servers/new">Deploy Server</a> <a class="btn btn-primary btn-lg" href="../updateinfo">Refresh Server List</a>
                    </div>
                  </div>
                </div>
             </div><br>
            <div class="row">
              <% if (pterodactyl.relationships.servers.data.length == 0) { %>
              <% } else { %>
              <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>                
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><%= pterodactyl.relationships.servers.data[i].attributes.name.length > 40 ? pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 40) + "..." : pterodactyl.relationships.servers.data[i].attributes.name %></h4>
                      <h5 style="font-family: 'Roboto Mono', monospace;">Server <%= pterodactyl.relationships.servers.data[i].attributes.identifier %></h5><br>
                      <p><i class="mdi mdi-memory"></i> &nbsp; CPU: <%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu/100 %> Core(s)</p>
                      <p><i class="mdi mdi-layers"></i> &nbsp; Ram: <%= pterodactyl.relationships.servers.data[i].attributes.limits.memory/1024 %> GB(s)</p>
                      <p><i class="mdi mdi-harddisk"></i> &nbsp; Disk: <%= pterodactyl.relationships.servers.data[i].attributes.limits.disk/1024 %> GB(s)</p>
                      <br>
                      <a role="button" style="border-radius: 15px;" class="btn btn-danger btn-lg" onclick="if (confirm('Please confirm you want to delete this server, the data cannot be retrieved after it has been deleted.')) { window.location.href='/delete?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>' }">Delete Server</a>
                      <a role="button" class="btn btn-primary btn-lg" href="/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">Edit Resources</a>
                    <% if (settings.renewals.status) { %> 
                      <a role="button" style="border-radius: 15px;" class="btn btn-warning btn-lg" href="/renew?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">Renew</a>
                    <% } %>
                      </form>
                    </div>
                  </div>
                </div>
              <% } %>
           <% } %>
          </div>
          </div>
          <!-- content-wrapper ends -->
          <%- include('./components/footer') %>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('./components/scripts') %>
  </body>
</html>